/* Hide scrollbar for all browsers */
*{
  overflow: auto;
}

/* Hide scrollbar but still allow scrolling */
* {
  overflow: -moz-scrollbars-none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}

*::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}